<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security" xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:zkc="http://www.zkoss.org/2008/zkspring/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.zkoss.org/2008/zkspring/core http://www.zkoss.org/2008/zkspring/core/zkspring-core.xsd">

	<!-- - Enable the @Secured annotation to secure service layer methods -->
	<b:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<b:constructor-arg>
			<b:list>
				<b:bean class="org.springframework.security.access.vote.RoleVoter" />
			</b:list>
		</b:constructor-arg>
	</b:bean>

	<!--simulate a customer's setting-->

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5" />
			<user-service>
				<user name="rod" password="a564de63c2d0da68cf47586ee05984d7" authorities="ROLE_SUPERVISOR, ROLE_USER, ROLE_TELLER" />
				<user name="dianne" password="65d15fe9156f9c4bbffd98085992a44e" authorities="ROLE_USER,ROLE_TELLER" />
				<user name="scott" password="2b58af6dddbd072ed27ffc86725d7d3a" authorities="ROLE_USER" />
				<user name="peter" password="22b5c9accc6e1ba628cedc63a72d57f8" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

	<http use-expressions="true" security="none" pattern="/zkau/**" disable-url-rewriting="false"/>
	<!-- - Usernames/Passwords are - rod/koala - dianne/emu - scott/wombat -peter/opal -->
	<http auto-config="true" use-expressions="false" access-decision-manager-ref="accessDecisionManager" >
		<intercept-url pattern="/secure/extreme/**" access="ROLE_SUPERVISOR" />
		<intercept-url pattern="/secure/**" access="ROLE_USER" />
		<!-- it seems the following 2 lines cause the redirecting problem	-->
		<intercept-url pattern="/login.zul" access="ROLE_ANONYMOUS" />
		<intercept-url pattern="/**" access="ROLE_USER" />
		<form-login login-processing-url="/j_spring_security_check" login-page="/login.zul" authentication-failure-url="/login.zul?login_error=1" default-target-url="/secure/index.zul"/>
		<logout logout-success-url="/index.zul" invalidate-session="true" logout-url="/j_spring_security_logout" />
		<!-- to make ajax login work-->
		<csrf disabled="true"/>
		<headers>
			<frame-options policy="SAMEORIGIN" />
		</headers>
<!--		<session-management session-authentication-strategy-ref="fixation" />-->
		<!--		invalid-session-url="/home.zul"-->
	</http>

	<b:bean id="fixation"
			class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy" >
		<b:property name="alwaysCreateSession" value="true"/>
 	</b:bean>
</b:beans>